# required
GIGACHAT_CREDENTIALS=''
GIGACHAT_SCOPE='GIGACHAT_API_CORP'

# optional
TARGET_ROC_AUC=0.8
MAX_IMPROVE_ROUNDS=1000
MAX_MERGE_CODE_ATTEMPTS=1000
MAX_FEATURE_PHASE_ATTEMPTS=1000
MAX_PHASE2_ATTEMPTS=1000
MAX_ADVICE_LLM_ATTEMPTS=1000
MAX_CATBOOST_EVAL_RETRIES=1000